.btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  margin: 0.5rem;
  cursor: pointer;
  transition: border-color 0.25s;
  transform-style: flat;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  /* user-select: none; */
}
.btn:hover {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 7px #ffffff, 0 0 10px #ffffff;
  box-shadow: 0 0 3px #008cff, 0 0 4px #008cff, 0 0 5px #008cff,
    0 0 100px #008cff;
}
.btn:focus,
.btn:focus-visible {
  border: 1px auto cadetblue;
  cursor: pointer;
  transform: scale();
}
.btn:active {
  color: #bdbdbd;
  box-shadow: inset 4px 4px 12px #268ccf, inset -4px -4px 12px #008cff;
}
