@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url(root.css);
@import url(botones.css);
@import url(txtarea.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fondo);
    height: 100vh;
    font-family: "DM Sans", sans-serif;
}
.cabecera {
    position: sticky;
    padding: 10px 0 10px 0;
    background-color: var(--color-boton-secundario);
    text-align: center;
}

.cabecera a {
    font-size: 2rem;
    color: var(--color-cinco);
    text-decoration: none;
    text-shadow: #10a2bd 0 2px 10px;
}

.titulo-principal {
    padding-top: 10px;
    padding-left: 20px;
    color: #1c621b;
    text-align: center;
}

.parrafo-h1 {
    display: inline-block;
    background-color: var();
}

.procesar-texto {
    text-align: center;
    /* background-color: #24902280; */
}

.procesar-texto .alerta {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    color: white;
}
.alerta-icono {
    fill: #ececec;
}

.mostrar-resultado {
    text-align: center;
    margin: 0 auto;
}

footer{
    background-color: var(--color-tres);
}